{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
                                                                                                                                                                                                                                                                                          
<title>CV</title>
{% endblock %}
{% block title %}
Curriculum Vitae
{% endblock %}
{% block content %}
        <div class="container center-align">
            <IMG SRC="{% static 'img/giphy.gif'%}"><br>
                <h2>Informacion Personal</h2><br>
                <p>Nombre:Matias<br>
                Apellido:Ferreyra<br>
                Edad:16<br>
                Correo Elecetronico: suwindows7noesoriginal@gmail.com<br>
                Direccion:Calle Chucho 1111, B° Chucho, Tucuman, Argentina.
                Nacionalidad:Argentina<br>
                Telefono:123456789<br>
                Estado Marital:Soltero<br></p>
        </div>
{% endblock %}

